<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".IWattsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleIWATTS">
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricalDataActivity"
            android:exported="false" />
        <activity
            android:name=".CostEstimationActivity"
            android:exported="false" />
        <activity
            android:name=".F_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".RealTimeMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AlertActivity"
            android:exported="false" />

        <receiver
            android:name=".ReadingReceiver"
            android:exported="false" />

        <activity
            android:name=".E_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".D_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".C_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".B_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".A_TipsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>